.all_shippments {
    .bi-telephone-fill,.bi-truck {
        background: #7ec87e;
        color: #fff;
        padding: 1px 10px;
        border-radius: 10px;
    }
    .bi-truck {
        background-color: #8d783d;
    }
}
